{% extends 'layout.twig' %}

{% block head %}
 <title>Modération</title>
{% endblock %}

{% block content %}

  <h1>Attente de validation:</h1>

    {% for com in coms %} 
          
      <div>
        {{com.pseudo}}</br>
        {{com.message}}</br>
        {{com.date_mess}}</br>
        <a href="index.php?page=validComment&amp;id={{com.id}}"><img src="img/check.png"></a> - <a href="index.php?page=suppComment&amp;id={{com.id}}"><img src="img/delete.png"></a></br></br>
      </div>
          
    {% endfor %}

{% endblock %}
